<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Magento_Version2_NAV_Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Magento_Version2_NAV_Integration.Properties.Settings>
            <setting name="Magento_Version2_NAV_Integration_Customer_service_Customer_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/Customer</value>
            </setting>
            <setting name="Magento_Version2_NAV_Integration_Item_Service_Item_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/Item</value>
            </setting>
            <setting name="Magento_Version2_NAV_Integration_ItemVariant_ItemVariants_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/ItemVariants</value>
            </setting>
            <setting name="Magento_Version2_NAV_Integration_NavMagFunctions_MagentoFunctions"
                serializeAs="String">
                <value>http://192.168.10.12:7047/DynamicsNAV80/WS/Ellison%20Europe%20Ltd./Codeunit/MagentoFunctions</value>
            </setting>
            <setting name="Magento_Version2_NAV_Integration_SalesOrder_service_SalesOrder_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/SalesOrder</value>
            </setting>
        </Magento_Version2_NAV_Integration.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="integrationAdminTokenServiceV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="catalogProductRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="salesOrderManagementV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="salesOrderRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="salesShipmentCommentRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="customerCustomerRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="customerAddressRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="integrationAdminTokenServiceV1Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="quoteCartRepositoryV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="integrationAdminTokenServiceV1Binding2">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="sizzixB2bAccountMessagesAccountCoordinatorServiceV1Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=integrationAdminTokenServiceV1"
                binding="customBinding" bindingConfiguration="integrationAdminTokenServiceV1Binding1"
                contract="MagentoAuthB2B.integrationAdminTokenServiceV1PortType"
                name="integrationAdminTokenServiceV1Port1" />
            <endpoint address="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=quoteCartRepositoryV1"
                binding="customBinding" bindingConfiguration="quoteCartRepositoryV1Binding"
                contract="MagentoQuoteCart_B2B.quoteCartRepositoryV1PortType"
                name="quoteCartRepositoryV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=integrationAdminTokenServiceV1"
                binding="customBinding" bindingConfiguration="integrationAdminTokenServiceV1Binding2"
                contract="MagentoAuthAWS.integrationAdminTokenServiceV1PortType"
                name="integrationAdminTokenServiceV1Port2" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=integrationAdminTokenServiceV1"
                binding="customBinding" bindingConfiguration="integrationAdminTokenServiceV1Binding"
                contract="MagentoAuth.integrationAdminTokenServiceV1PortType"
                name="integrationAdminTokenServiceV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=customerCustomerRepositoryV1%2CcustomerAddressRepositoryV1"
                binding="customBinding" bindingConfiguration="customerCustomerRepositoryV1Binding"
                contract="MagentoCustomer.customerCustomerRepositoryV1PortType"
                name="customerCustomerRepositoryV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=customerCustomerRepositoryV1%2CcustomerAddressRepositoryV1"
                binding="customBinding" bindingConfiguration="customerAddressRepositoryV1Binding"
                contract="MagentoCustomer.customerAddressRepositoryV1PortType"
                name="customerAddressRepositoryV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=catalogProductRepositoryV1"
                binding="customBinding" bindingConfiguration="catalogProductRepositoryV1Binding"
                contract="MagentoProductSR.catalogProductRepositoryV1PortType"
                name="catalogProductRepositoryV1Port" />
            <endpoint address="https://sizzix-b2b.c3preview.co.uk/soap/b2b_gbp?services=sizzixB2bAccountMessagesAccountCoordinatorServiceV1"
                binding="customBinding" bindingConfiguration="sizzixB2bAccountMessagesAccountCoordinatorServiceV1Binding"
                contract="AccountCoordinatorB2B.sizzixB2bAccountMessagesAccountCoordinatorServiceV1PortType"
                name="sizzixB2bAccountMessagesAccountCoordinatorServiceV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=salesOrderManagementV1%2CsalesOrderRepositoryV1%2CsalesOrderManagementV1%2CsalesShipmentCommentRepositoryV1"
                binding="customBinding" bindingConfiguration="salesOrderManagementV1Binding"
                contract="MagentoSales.salesOrderManagementV1PortType" name="salesOrderManagementV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=salesOrderManagementV1%2CsalesOrderRepositoryV1%2CsalesOrderManagementV1%2CsalesShipmentCommentRepositoryV1"
                binding="customBinding" bindingConfiguration="salesOrderRepositoryV1Binding"
                contract="MagentoSales.salesOrderRepositoryV1PortType" name="salesOrderRepositoryV1Port" />
            <endpoint address="https://www.sizzix.co.uk/soap/b2c_uk?services=salesOrderManagementV1%2CsalesOrderRepositoryV1%2CsalesOrderManagementV1%2CsalesShipmentCommentRepositoryV1"
                binding="customBinding" bindingConfiguration="salesShipmentCommentRepositoryV1Binding"
                contract="MagentoSales.salesShipmentCommentRepositoryV1PortType"
                name="salesShipmentCommentRepositoryV1Port" />
        </client>
    </system.serviceModel>
</configuration>