<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Magento_NAV_Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://us.sizzix.qa.ellison.com/index.php/api/v2_soap/index/"
                binding="basicHttpBinding" bindingConfiguration="Binding"
                contract="MagentoAPIv2.PortType" name="Port" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Magento_NAV_Integration.Properties.Settings>
            <setting name="Magento_NAV_Integration_SalesOrder_service_SalesOrder_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/SalesOrder</value>
            </setting>
            <setting name="Magento_NAV_Integration_Customer_service_CustomerCard_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/Customer</value>
            </setting>
            <setting name="Magento_NAV_Integration_Item_Service_ItemCard_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/Item</value>
            </setting>
            <setting name="Magento_NAV_Integration_NavMagFunctions_MagentoFunctions"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Codeunit/MagentoFunctions</value>
            </setting>
            <setting name="Magento_NAV_Integration_ITemVariant_ItemVariants_Service"
                serializeAs="String">
                <value>http://localhost:9047/EllisonDev/WS/Ellison%20Europe%20Ltd./Page/ItemVariants</value>
            </setting>
        </Magento_NAV_Integration.Properties.Settings>
    </applicationSettings>
</configuration>