<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding" maxBufferPoolSize="999999" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://us.sizzix.qa.ellison.com/index.php/api/v2_soap/index/"
          binding="basicHttpBinding" bindingConfiguration="Binding"
          contract="MagentoAPIv2.PortType" name="Port" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WindowsApplication2.My.MySettings>
      <setting name="AzzureMagentoNAVConnector_SalesOrder_Service_SalesOrder_Service"
          serializeAs="String">
        <value>http://az-crmnavdemo.azzure-it.com:9059/NAV2016_Marisol/WS/Marisol%20Test%20Cronus/Page/SalesOrder</value>
      </setting>
      <setting name="AzzureMagentoNAVConnector_Customer_Service_Customer_Service"
          serializeAs="String">
        <value>http://az-crmnavdemo.azzure-it.com:9059/NAV2016_Marisol/WS/Marisol%20Test%20Cronus/Page/Customer</value>
      </setting>
    </WindowsApplication2.My.MySettings>
  </applicationSettings>
</configuration>
